# DataTypes & Its Default Functions

In [1]:
a=10
b=10
print(a+b)

lst

In [2]:
type(a)

In [3]:
c=7.1
d=8.6
e=7.0
c+d

In [4]:
type(e)

In [5]:
name="vikram"
name1="reddy"

In [6]:
name+name1

In [7]:
name+"    "+name1

In [8]:
type(name1)

# list

In [9]:
lst=["vikram",10,78,38.5,]

In [10]:
lst

In [11]:
lst[3]

In [12]:
#append function is used for adding an object to the list
lst.append("007")

In [13]:
lst

['vikram', 10, 78, 38.5, '007']

In [14]:
#clear function is used for to eliminate all the objects in list
lst.clear()

In [15]:
lst

[]

In [16]:
lst=["vikram",10,78,38.5,"007"]

In [17]:
lst

['vikram', 10, 78, 38.5, '007']

In [18]:
#copy function is used for copying the upper cell/list information
lst.copy()

['vikram', 10, 78, 38.5, '007']

In [19]:
lst

['vikram', 10, 78, 38.5, '007']

In [20]:
#count tells that if an objet present in the list or not/true(1) or false(0)
lst.count('vikram')

1

In [21]:
lst.count(11)

0

In [22]:
lst

['vikram', 10, 78, 38.5, '007']

In [23]:
#extend is used spliting the objects in list
lst.extend("vikram")

In [24]:
lst

['vikram', 10, 78, 38.5, '007', 'v', 'i', 'k', 'r', 'a', 'm']

In [25]:
lst.extend("11")

In [26]:
lst

['vikram', 10, 78, 38.5, '007', 'v', 'i', 'k', 'r', 'a', 'm', '1', '1']

In [27]:
#index function tells the position of an objet in the list
lst.index(10)

1

In [28]:
lst.index("007")

4

In [29]:
lst

['vikram', 10, 78, 38.5, '007', 'v', 'i', 'k', 'r', 'a', 'm', '1', '1']

In [30]:
#insert function is used for adding an object at any position of a list
lst.insert(1,22)

In [31]:
lst

['vikram', 22, 10, 78, 38.5, '007', 'v', 'i', 'k', 'r', 'a', 'm', '1', '1']

In [32]:
lst.insert(3,"ram")

In [33]:
lst

['vikram',
 22,
 10,
 'ram',
 78,
 38.5,
 '007',
 'v',
 'i',
 'k',
 'r',
 'a',
 'm',
 '1',
 '1']

In [34]:
#pop function is used for removing any one object from list by declaring the position of an object
lst.pop(1)

22

In [35]:
lst

['vikram', 10, 'ram', 78, 38.5, '007', 'v', 'i', 'k', 'r', 'a', 'm', '1', '1']

In [36]:
#remove function is used for eliminating an objet in the list by declaring the object
lst.remove("ram")

In [37]:
lst

['vikram', 10, 78, 38.5, '007', 'v', 'i', 'k', 'r', 'a', 'm', '1', '1']

In [38]:
#reverse funnction is used for exchanging the objects from first to last (or)last to first in the list
lst.reverse()

In [39]:
lst

['1', '1', 'm', 'a', 'r', 'k', 'i', 'v', '007', 38.5, 78, 10, 'vikram']

In [40]:
lst.reverse()

In [41]:
lst

['vikram', 10, 78, 38.5, '007', 'v', 'i', 'k', 'r', 'a', 'm', '1', '1']

In [42]:
lst

['vikram', 10, 78, 38.5, '007', 'v', 'i', 'k', 'r', 'a', 'm', '1', '1']

In [43]:
lst=['vikram','ram','rakesh','mahesh']

In [44]:
lst

['vikram', 'ram', 'rakesh', 'mahesh']

In [45]:
#sort is used for arranging the disorder objects to inorder in the list
lst.sort()

In [46]:
lst

['mahesh', 'rakesh', 'ram', 'vikram']

In [47]:
lst.sort(reverse=True)

In [48]:
lst

['vikram', 'ram', 'rakesh', 'mahesh']

In [49]:
lst=[5,9,2,3,4,0,1,7,6,8]

In [50]:
lst.sort()
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# DICT - Dictionaries

In [51]:
dit={"name":"vikram","age":"19","height":"6.4","number":"526366363","village":"mncl"}

In [52]:
dit

{'name': 'vikram',
 'age': '19',
 'height': '6.4',
 'number': '526366363',
 'village': 'mncl'}

In [53]:
dit.get("name")

'vikram'

In [54]:
dit.clear()
print(dit)

{}

In [55]:
dit={"name":"vikram","age":"19","height":"6.4","number":"526366363","village":"mncl"}

In [56]:
dit

{'name': 'vikram',
 'age': '19',
 'height': '6.4',
 'number': '526366363',
 'village': 'mncl'}

In [57]:
dit.copy()

{'name': 'vikram',
 'age': '19',
 'height': '6.4',
 'number': '526366363',
 'village': 'mncl'}

In [58]:
dit.fromkeys(dit,1)

{'name': 1, 'age': 1, 'height': 1, 'number': 1, 'village': 1}

In [59]:
value={1,2,3,4,5}
print(value)

{1, 2, 3, 4, 5}

In [60]:
dit.fromkeys(dit,value)

{'name': {1, 2, 3, 4, 5},
 'age': {1, 2, 3, 4, 5},
 'height': {1, 2, 3, 4, 5},
 'number': {1, 2, 3, 4, 5},
 'village': {1, 2, 3, 4, 5}}

In [61]:
dit.get("name")

'vikram'

In [62]:
dit.items()

dict_items([('name', 'vikram'), ('age', '19'), ('height', '6.4'), ('number', '526366363'), ('village', 'mncl')])

In [63]:
dit.keys()

dict_keys(['name', 'age', 'height', 'number', 'village'])

In [64]:
dit.pop("age")

'19'

In [65]:
dit

{'name': 'vikram', 'height': '6.4', 'number': '526366363', 'village': 'mncl'}

In [66]:
dit.popitem()

('village', 'mncl')

In [67]:
dit

{'name': 'vikram', 'height': '6.4', 'number': '526366363'}

In [68]:
dit.setdefault("number")

'526366363'

In [69]:
dit

{'name': 'vikram', 'height': '6.4', 'number': '526366363'}

In [70]:
dit={"name":"vikram","age":"19","height":"6.4","number":"526366363","village":"mncl"}

In [71]:
dit.update()
print(dit)

{'name': 'vikram', 'age': '19', 'height': '6.4', 'number': '526366363', 'village': 'mncl'}

In [72]:
dit.values()

dict_values(['vikram', '19', '6.4', '526366363', 'mncl'])

In [73]:
#adding any (key:value)
dit["school"]="akshara"
print(dit)

{'name': 'vikram', 'age': '19', 'height': '6.4', 'number': '526366363', 'village': 'mncl', 'school': 'akshara'}

In [74]:
dit

{'name': 'vikram',
 'age': '19',
 'height': '6.4',
 'number': '526366363',
 'village': 'mncl',
 'school': 'akshara'}

# sets

In [75]:
st1={"vikram",1,6,3,8.3,2,1,"naresh"}

In [76]:
st1

{1, 2, 3, 6, 8.3, 'naresh', 'vikram'}

In [77]:
#add
st1.add("ram")

In [78]:
st1

{1, 2, 3, 6, 8.3, 'naresh', 'ram', 'vikram'}

In [79]:
#update
st1.update([33,99,44])

In [80]:
st1

{1, 2, 3, 33, 44, 6, 8.3, 99, 'naresh', 'ram', 'vikram'}

In [81]:
st2={22,88,43.65}
st1.update(st1,st2)
print(st1)

{'naresh', 1, 2, 3, 33, 'ram', 6, 99, 8.3, 43.65, 44, 22, 88, 'vikram'}

In [82]:
st1

{1, 2, 22, 3, 33, 43.65, 44, 6, 8.3, 88, 99, 'naresh', 'ram', 'vikram'}

In [83]:
#discard
st1.discard(8.3)

In [84]:
st1

{1, 2, 22, 3, 33, 43.65, 44, 6, 88, 99, 'naresh', 'ram', 'vikram'}

In [85]:
st1.discard(87)
print(st1)

{'naresh', 1, 2, 3, 33, 'ram', 6, 99, 43.65, 44, 22, 88, 'vikram'}

In [86]:
st1

{1, 2, 22, 3, 33, 43.65, 44, 6, 88, 99, 'naresh', 'ram', 'vikram'}

In [87]:
st1={1,2,3}
st2={2,3,4}
st3={3,4,5}
#intersection
st4=st1.intersection(st2,st3)
print(st4)

{3}

In [88]:
#difference
st4=st1.difference(st2)
print(st4)

{1}

In [89]:
st4=st2.difference(st1)
print(st4)

{4}

In [90]:
#symmatric_differance
st4=st1.symmetric_difference(st2)
print(st4)

{1, 4}

In [91]:
#copy
st4=st1.copy()
print(st4)

{1, 2, 3}

In [92]:
st1

{1, 2, 3}

In [93]:
st2

{2, 3, 4}

In [94]:
st3

{3, 4, 5}

In [95]:
#differance_update
st1.difference_update(st3)
print(st1)

{1, 2}

In [96]:
#intersection_update
st1.intersection_update(st2)
print(st1)

{2}

In [97]:
#isdijoint method returns true if none of the item are present in both sets,otherwise it returns false
st1={1,2,3}
st2={2,3,4}
st3={3,4,5}

st4=st1.isdisjoint(st3)
print(st4)

False

In [98]:
#issubset meanns all the item in the set exist in the specified set it returns true otherwise it returs false
st4=st1.issubset(st2)
print(st4)

False

In [99]:
#issuperset true if all the items in the specific set exists in the orginal set otherwise it returns false
st4=st1.issuperset(st3)
print(st4)

False

In [100]:
#pop for removing an element from the set
st4=st1.pop()
print(st4)

1

In [101]:
#symmetric_difference_update
st1.symmetric_difference_update(st3)
print(st1)

{2, 4, 5}

In [102]:
#union means taking all elements in the both sets and common elements also
st4=st1.union(st2)
print(st4)

{2, 3, 4, 5}

# tuples

In [103]:
tup=("vikram",1,4,8,22)

In [104]:
tup

('vikram', 1, 4, 8, 22)

In [105]:
tup.count("vikram")

1

In [106]:
tup.index(22)

4

In [107]:
abc=True

In [108]:
xyz=False

In [109]:
abc

True

In [110]:
xyz

False

# string

In [111]:
#strip
a="Hello, World!"
print(a.strip())

Hello, World!

In [112]:
#lower
a="Hello, World!"
print(a.lower())

hello, world!

In [113]:
#upper
a="Hello, World!"
print(a.upper())

HELLO, WORLD!

In [114]:
#replace
a="Hello, World!"
print(a.replace("H","J"))

Jello, World!

In [115]:
a="Hello, World!"
b="llo" in a
print(b)

True